@import "../../../Common/Styles/EW_Variables";
@import "../../../Core/Styles/Mixins";

.ew-admin-blog-constructor-content {

  .ew-admin-blog-constructor-content-block {

    .ew-admin-blog-constructor-content-block-content {

      @include use-transition();

      .ew-admin-blog-constructor-content-block-content-settings {

        opacity: .2;
        white-space: nowrap;
        overflow-x: auto;

        @include use-transition();

        .ew-admin-blog-constructor-content-block-content-panel {
          font-size: 20px;
          padding: 5px 10px;
          margin: 10px 0;
          border-right: 1px solid $grey-lighter;
          white-space: nowrap;

          .ew-admin-blog-constructor-content-block-content-panel-item {
            height: 30px;
            width: 30px;
            margin: 0 5px;
            opacity: .7;
            cursor: pointer;

            @include use-transformed(scale(.8));
            @include use-transition();

            &:hover {
              opacity: 1;
            }

            &.isSelected {
              color: $brand-blue;
              @include use-transformed(scale(1));
            }
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .ew-admin-blog-constructor-content-block-content-controls {
        opacity: .2;
        @include use-transition();
      }

      .ew-admin-blog-constructor-content-block-content-main {
        min-height: 100px;
        height: 100%;

        .ew-admin-blog-constructor-content-block-content-main-icon {
          display: none;
        }
      }
    }

    &.ew-font-weight-bold {
      .ew-input-core {
        font-weight: bold;
      }
    }

    &.ew-font-weight-italic {
      .ew-input-core {
        font-style: italic;
      }
    }

    &.ew-font-decoration-underline {
      .ew-input-core {
        text-decoration: underline;
      }
    }

    &.ew-font-decoration-blockquote {
      .ew-admin-blog-constructor-content-block-content-main {
        padding-left: 100px;

        .ew-admin-blog-constructor-content-block-content-main-icon {
          display: inline-flex;
          right: $full-size;
        }
      }
    }

    &:hover {
      .ew-admin-blog-constructor-content-block-content {

        @include use-box-shadow();

        .ew-admin-blog-constructor-content-block-content-settings {
          opacity: 1;
        }

        .ew-admin-blog-constructor-content-block-content-controls {
          opacity: 1;
        }
      }
    }
  }

  .ew-admin-blog-constructor-content-add-block {
    min-height: 100px;
    @include use-box-shadow();
  }
}