@import "./EW_AdminBlogConstructorTags/EW_AdminBlogConstructorTags";
@import "./EW_AdminBlogConstructorContent/EW_AdminBlogConstructorContent";

.ew-admin-blog-constructor {

  .ew-admin-blog-constructor-modal-form {
    width: calc(100vw - 100px);
  }
}