@import "../../Core/Styles/Mixins";
@import "../../Common/Styles/EW_Variables";

.ew-technology-page {

  .ew-technology-page-headers-section-tab-body {
    height: calc(#{$full-size} - #{$ew-block-size});
  }

  .ew-technology-page-tech-category {
    @include use-transition();
    border-bottom: 1px solid #EAECEF;
    opacity: .6;

    .ew-technology-page-tech-category-item {
      .ew-technology-page-tech-category-icon {
        @include use-transition();
        @include use-transformed(translate(0, 12px));
        height: calc(#{$ew-block-size * 1.5} - 50px);
        width: $ew-block-size * 1.5;
      }

      .ew-technology-page-tech-category-label {
        @include use-transition();
        @include use-transformed(translate(0, -12px));
        opacity: 0;
      }
    }

    &:hover {
      opacity: 1;

      .ew-technology-page-tech-category-item {
        .ew-technology-page-tech-category-icon {
          @include use-transformed(translate(0, 0px));
        }

        .ew-technology-page-tech-category-label {
          @include use-transformed(translate(0, -10px));
          opacity: 1;
        }
      }
    }
  }

}
  
